 <IfModule mod_rewrite.c>
    RewriteEngine On
    # Al no estar en el directorio raiz, si estuviera sería /
    RewriteBase /webservice/

    # Si la solicitud no es un archivo existente
    RewriteCond %{REQUEST_FILENAME} !-f
    # Si la solicitud no es un directorio existente
    RewriteCond %{REQUEST_FILENAME} !-d
    # Redirigir todas las solicitudes a index.php
    RewriteRule ^ index.php [L]
</IfModule>